
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name"> Name</label>
    <input type="text" required id="name"name="name" [(ngModel)]="register.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email"> Email</label>
    <input type="email" required id="email" name="email" [(ngModel)]="register.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password"> Password</label>
    <input type="password" required id="password" name="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrarse</button>
  <button type="button">Acción</button>
</form>


<hr>

<h1>NgClass y NgStyle</h1>
<h1>Class and style</h1>
<input type="text" required #nameInput5="ngModel" [(ngModel)]="person.name" >
<hr class="line-error"
[ngClass]="{
  'valid': nameInput5.valid,
  'invalid': nameInput5.invalid
}"
/>
<p class="message-error" [class.active]="nameInput5.invalid">
    El campo es requerido
</p>

<div class="sytles">
  <div>
    <input type="number" required  [(ngModel)]="box.width" >
    <input type="number" required  [(ngModel)]="box.height" >
    <input type="color" required  [(ngModel)]="box.background" >
  </div>
  <div>
    <div [ngStyle]="{
      'width.px' : box.width,
      'height.px' : box.height,
      'background-color' : box.background,
      'display' : 'block'
    }"></div>
  </div>
</div>


<hr>

<h1>Class and style</h1>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" >
<p class="message-error" [class.active]="nameInput3.invalid">
    El campo es requerido
</p>
<label for="">Nombre</label>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" >
<p [style.font-style]="nameInput4.invalid ? 'italic' : 'normal'">Texto, texto, texto, texto.....</p>
<div class="styles">
  <div>
    <input type="text"  [(ngModel)]="widthImg" >
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" >
  </div>
</div>
<hr>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<hr/>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img class="img-product" width="250" [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>
<hr/>
<h1>Eventos</h1>
<input type="text" required  [(ngModel)]="newName" >
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0"> No hay nombres en la tabla</li>
  <li *ngFor="let name of names; index as id">
   {{id}} - {{name}}
   <button (click)="deleteName(id)">Delete {{name}}</button>
  </li>
</ul>
<hr>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" >
<p *ngIf="person.name ==='Iván; else block'"> Soy Iván</p>

<ng-template #block>
  <p>bloque de Anonimo</p>
</ng-template>
<hr>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium provident error explicabo nisi, odio maiores veritatis dolorem deserunt voluptatum at aspernatur debitis suscipit iusto mollitia vero et accusamus perferendis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut accusantium provident error explicabo nisi, odio maiores veritatis dolorem deserunt voluptatum at aspernatur debitis suscipit iusto mollitia vero et accusamus perferendis</p>
</div>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Nombre: {{person.name}}</p>
<p>valid: {{nameInput.valid}}</p>

<hr>
<h1>Propiedades</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="Imagen" width="100">

<hr>
<h1>Hello World!!</h1>
<h2>{{ 'Hello World!! '.repeat(5)}}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img width="50" src="{{img}}" alt="Imagen">
